@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-bg-color {
  background-color: #343a3f;
}

.navbar-item-color {
  color: #d6d6d6;
}

.font-albert-sans {
  font-family: "Albert Sans", sans-serif;
}

.font-family-urbanist {
  font-family: Urbanist, sans-serif;
}

.text-align-center {
  text-align: center;
}

.margin-top-5px {
  margin-top: 5px;
}

.margin-bottom-7px {
  margin-bottom: 7px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-20px {
  margin-top: 20px;
}

.navbar-items:hover {
  cursor: pointer;
}

.margin-0-auto {
  display: flex;
  margin: 0 auto;
}

#registraion-form-container {
  border: 1px solid red;
}

.page-bar-height-40px {
  height: 40px;
}

.red-border {
  border: 1px solid red;
}

.margin-left-600 {
  margin-left: 600px;
}

.padding-10px {
  padding: 10px;
}

.padding-20px {
  padding: 20px;
}

.app-drawer-closed:hover {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.col-30 {
  width: 20vw;
}

.col-70 {
  width: 80vw;
}

.vh-100 {
  height: 100vh;
}

.modal-bg-grey {
  background-color: #282222bd;
}

.row {
  display: flex;
}

.menu-item-hover-underline:hover {
  cursor: pointer;
  text-decoration: underline;
}

.visible {
  visibility: visible;
}

.display-inline {
  display: inline !important;
}

.character-card {
  background-image: linear-gradient(135deg, #ccd3ee 40%, #929c9c9f);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.character-card:hover {
  cursor: pointer;
}

.character-card:active {
  box-shadow: 2px 2px 5px #747477;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
